@use './custom' as *;

// IMPORT THE COMPONENTS //

@use './components/animations';
@use './components/buttons';
@use './components/mixins';
@use './components/typography';


// IMPORT THE SECTIONS //

@use './sections/navbar';
@use './sections/intro_section';
@use './sections/about';
@use './sections/services';
@use './sections/pricing';
@use './sections/team';
@use './sections/stats-section';
@use './sections/blog';
@use './sections/footer';

