@use "../custom" as *;

footer {
  background-color: $footer;
  font-family: "Poppins", sans-serif;

  .col-md-4 {
    margin-bottom: 5rem;
  }

  .last-pera{
    margin-top: -1.3rem;
    margin-bottom: 2.7rem;
  }
 
  h3 {
    margin-top: 6rem;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
  }
  li {
    list-style: none;
    a {
      text-transform: capitalize;
      text-decoration: none;
      color: $white;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.9rem;

      &:hover {
        text-decoration: underline;
        color: $Yellow;
      }
    }
  }

  .form-control-2 {
    border: none;
    background-color: $primary;
    width: 60%;
    padding-left: 0.5rem;
    color: $white;
  }

  .social-icons {
    margin-top: 2rem;
    

    .social {
      display: inline-flex;
      background-color: $white;
      align-items: center;
      justify-content: center;
      width: 6%;
      height: 6%;
      border-radius: 50%;
      background: $white;
      color: $black;
      font-size: 1rem;
      &:hover{
        color: $Yellow;
      }
    }
  }
}

.footer-bottom__copyrights{
    color: $white;
    a{
        color: $yellow;
        text-decoration: none;
        font-weight: 600;
    }
}
