@use '../custom' as *;

.intro-section {
  padding: 8rem 0 5rem 0;
  width: 100%;
  height: auto;
  background-color: $primary;

  .intros {
    h1 {
      .display-2--intro {
        font-size: 4.8rem;
        font-weight: 600;
        display: block;
      }

      .display-2--description {
        font-size: 1.8rem;
        color: $white;
        line-height: 1.6;
        margin-top: 1rem;
      }
    }

    button {
      margin-top: 1.5rem;
      margin-right: 1rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  // Responsive design
  @media (max-width: 992px) {
    text-align: center;
    .row {
      flex-direction: column-reverse;
    }
    .intros {
      margin-top: 2rem;
    }
  }

  @media (max-width: 576px) {
    h1 {
      .display-2--intro {
        font-size: 3rem;
      }
      .display-2--description {
        font-size: 1.4rem;
      }
    }
    button {
      font-size: 1.2rem;
      padding: 0.7rem 1.4rem;
    }
  }
}
