@use '../custom'as *;

.btn {
    background-color: $secondary;
    color: $white;
    border-radius: 0;
    border-width: 0.1rem;
    &:hover{
    background-color: $Turquoise-Blue;
    color: white;
    }
   }

   .btn-2{
    background-color: $primary;
    border-color: $white;
    border-width: 0.1rem;
   }
   
   .yellow-btn{
    background-color: $primary;
    color: $white;
    border-color: none;
    outline: none;
    &:hover{
         background-color: $Turquoise-Blue;
    }
   }

  
 