@use '../custom'as *;

.btn {
    background-color: $secondary;
    color: $white;
    border-radius: 0;
    border-width: 0.1rem;
    &:hover{
    background-color: $Turquoise-Blue;
    color: white;
    }
   }

   .btn-1{
    background-color: $primary;
    border-color: $white;
    border-width: 0.1rem;
   }

   
   
   .yellow-btn{
    background-color: $primary;
    color: $white;
    border-color: none;
    outline: none;
    align-content: end;
    &:hover{
         background-color: $Turquoise-Blue;
      
    }
   }

  /* 2 */
.btn-3 {
  background: $Turquoise-Blue;
  background: $Turquoise-Blue;
  border: none;
  
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


.btn-1:before {
  height: 0%;
  width: 2px;
}
.btn-1:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    
}

 