
@use '../custom' as *;


// ABSOLUTE-CENTER MIXINS.
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// TRANSITION-PROPERTY MIXINS.
@mixin transitionProperty {
    transition-duration: 1000ms;
    transition-property: all;
}

