@use '../custom'as *;

.display-2{
    margin-bottom: 1rem;
    
     font-family: "Poppins", sans-serif;
    
    &--intro{
        display: inline-block;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        font-size: 5.2rem;
        margin-top: 1.7rem;
    }

    &--description{
        font-size: 2.1rem;
        display: block;
        margin-top: 1.6rem;
        text-transform: none;
        font-weight: 350;
        color: $gray-600;
        margin-bottom: 1.5rem;
    }
}

.display-3{
    margin-bottom: 1rem;
    
     font-family: "Poppins", sans-serif;
    
    &--intro{
        display: inline-block;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        font-size: 3rem;
        margin-top: 1.7rem;
    }

    &--description{
        font-size: 2rem;
        display: block;
        margin-top: 1.6rem;
        text-transform: none;
        font-weight: 400;
        color: $gray-600;
        margin-bottom: 1.5rem;
        color: $Gunmetal;
    }
}

// .display-4{
//     margin-bottom: 1rem;

//      font-family: "Poppins", sans-serif;
    
//     &--intro{
//         display: inline-block;
//         font-weight: 450;
//         font-family: "Poppins", sans-serif;
//         font-size: 2.5rem;
//         margin-top: 1.7rem;
//     }

//     &--description{
//         font-size: 2rem;
//         display: block;
//         margin-top: 0.5rem;
//         text-transform: none;
//         font-weight: 400;
//         margin-bottom: 1.5rem;
//     }
// }



